/* Universal Styles */
*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #4a4a4a;
}

.main-content {
  top: 9.1rem; /* To offset for fixed header. */
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
  margin: 0;
}

#features-section{
  overflow: hidden;
}

.image-container {
  overflow: hidden;
}

@media only screen and (max-width: 760px) {
  .main-content {
    top: 2.5625rem;
  }
}

/* Header */

header {
  right: 0;
  left: 0;
  margin: 0;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
  z-index: 10;
  height: 5.3125rem;
}

header .content {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 1.875rem 1.875rem 1.875rem 1.875rem;
}

header .content .logo {
  color: #4a4a4a;
  font-size: 3rem;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

header .content nav.desktop{
  padding-right: 5rem;
}

header .content nav.desktop ul {
  display: inline-flex;
}

header .content nav.desktop ul li {
  display: flex;
  align-items: center;
  padding-left: 3.5rem;
  list-style: none;
}
 
header .content nav.desktop ul li a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1.5rem;
  color: #4a4a4a;
}

header .icon {
  width: 1.8rem;
}

header .mobile {
  display: none;
}

#joinBtn {
  padding: 0;
  display: none;
}



@media only screen and (max-width: 740px) {
  header {
    position: fixed;
    border-bottom: solid 1px #c6c1c1;
    background-color: white;
    height: 9rem;
    width: 99%;
  }
  
  header .content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
    height: 3rem;
    padding: 0rem 2rem;
  }
  
  header .content a{
    color: #4a4a4a;
    font-size: 2rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  header .content nav.desktop{
    width: 100%;
    padding: 0;
  }

  header .content nav.desktop ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }
  
  header .content nav.desktop ul li {
    padding: 0;
  }
   
  header .content nav.desktop ul li a {
    display: flex;
    align-items: center;
    line-height: 1.6;
    font-size: 1rem;
    color: #4a4a4a;
    padding: 0;
  }
  
  header .icon {
    width: 1.8rem;
    padding-left: 0.5rem;
  }
  
  #lastLi{
    padding: 0;
  }
  
  #joinBtn{
    display: flex;
    text-align: center;
    color: #f3f3f3;
    padding: 0.1rem 0.8rem 0.1rem 0.8rem;
    border-radius: 5px;
    height: 2rem;
    background-color: #9dc20b;
  }
}

@media only screen and (max-width: 450px){
  header .desktop{
    display: none;
  }
  
  header .mobile{
    display: show;
  }

  header {
    position: fixed;
    max-width: 450px;
    width: 100%;
    border-bottom: solid 1px #c6c1c1;
    background-color: white;
    height: 3rem;
    padding: 0;
  }

  header .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  header .content nav.mobile{
    display: flex;
    width: 100%;
  }

  header .content nav.mobile ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  header .content nav.mobile ul li{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  header .content nav.mobile ul li a{
    width: max-content;
    display: flex;
    height: 1.4rem;
  }

  #joinBtn{
    margin: 0 auto;
    font-size: 1.5rem;
    display: flex;
    color: #f3f3f3;
    padding: 0.1875rem 0.5rem 0.3rem 0.5rem;
    border-radius: 4px;
    height: 1.5rem;
    background-color: #9dc20b;
  }

}

/* Sign Up Section */

#sign-up-section {
  display: flex;
  position: static;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  background-image: url(resources/images/banner-landingpage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#sign-up-cta {
  margin: 10.265rem 0 10.265rem 6.25rem;
  padding: 2rem 5rem 3.5rem 5rem;
  border-radius: 4px;
  background-color: #9dc20b;
}

#sign-up-cta .content {
  width: 25.625rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: white;
}

#sign-up-cta .header{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

#sign-up-cta h2 {
  font-size: 2.25rem;
  margin: 0;
}

#sign-up-cta h1 {
  font-size: 3.125rem;
  margin: 0;
  text-align: center;
  width: 110%;
}

#sign-up-cta span strong {
  font-weight: bold;
}

#sign-up-cta .cursive {
  font-family: "Damion", cursive;
}

#sign-up-cta .striking {
  font-family: "Rubik", sans-serif;
  padding-bottom: .75rem;
}

#sign-up-cta .button {
  margin-top: 1.625rem;
  padding: 1.25rem 7.25rem;
  background-color: #4a4a4a;
  border-radius: 10px;
}

@media only screen and (max-width: 760px) {
  header{
    display: show;
  }

  .main-content {
    position: relative;
    top: 9.1rem; /* To offset for fixed header. */
  }

  #sign-up-section {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
  }

  #sign-up-cta .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #sign-up-cta {
    background-color: transparent;
    border: none;
    margin: 0;
  }

  #sign-up-cta .header{
    margin: 0;
  }

  #sign-up-cta .email {
    display: none;
  }

  #sign-up-cta h1 {
    font-size: 3.125rem;
  }

  #sign-up-cta h2 {
    font-size: 2.25rem;
  }
}

@media only screen and (max-width: 450px) {
  header{
    display: show;
  }

  .main-content {
    top: 3.1rem; /* To offset for fixed header. */
  }

  #sign-up-section {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 26rem;
    background-position-x: right;
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }

  #sign-up-cta {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
  }

  #sign-up-cta .header{
    margin: 0;
  }

  #sign-up-cta .content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: solid tomato;
  }

  #sign-up-cta h1 {
    font-size: 2.25rem;
  }

  #sign-up-cta h2 {
    font-size: 2rem;
  }
}

/* Features Section */

#features-section {
  position: relative;
  display: flex;
  padding-top: 4rem;
  padding-bottom: 2.875rem;
  background: linear-gradient(45deg, rgb(95, 95, 95), rgba(255, 255, 255, 0.63));
  gap: 2.375rem;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.feature {
  position: relative;
  background-color: white;
  width: 40%;
  height: 100%;
}

.feature .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  align-items: center;
  padding: 1.2rem;
  background-color: white;
}

.feature .center .content{
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 13rem;
  width: 100%;
}

.feature .center .content h2{
  font-size: 2.25rem;
  line-height: 1.2;
  color: #4a4a4a;
  font-weight: bold;
  padding-bottom: 1rem;
}

.feature .center .content h3{
  font-size: 1.5rem;
  line-height: 1.2;
  color: #4a4a4a;
  width: 75%;
}

.feature .image-container{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.feature .image-container img{
  width: 100%;
}

.feature h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: #4a4a4a;
}

.feature h3 {
  font-size: 1rem;
  line-height: 1.2;
  font-weight: 300;
  color: #4a4a4a;
}

@media only screen and (max-width: 890px) {
  .feature h2 {
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: normal;
  }

  .feature h3 {
    font-size: .875rem;
    line-height: 1.4;
  }
}

@media only screen and (max-width: 760px) {
  #features-section {
    display: flex;
    padding-top: 4rem;
    padding-bottom: 2rem;
    background-color: #9b9b9b;
    gap: 0.05rem;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
  }
  
  .feature {
    background-color: white;
    width: 45%;
    height: 100%;
  }

  .feature .image-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  .feature .center .content{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 13rem;
    width: 100%;
  }

  .feature .center .content h2{
    font-size: 2rem;
    width: 95%;
    text-align: left;
    line-height: 1.2;
    color: #4a4a4a;
    font-weight: bold;
    padding: 0;
  }
  
  .feature .center .content h3{
    font-size: 1.1rem;
    line-height: 1.2;
    color: #4a4a4a;
    width: 95%;
    text-align: left;
  }
}

@media only screen and (max-width: 450px) {
  #features-section{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .feature {
    background-color: white;
    width: 100%;
    height: 100%;
  }

  .feature .center .content{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin: 0;
  }

  .feature .center .content h2{
    font-size: 1.125rem;
    width: 95%;
    text-align: center;
    line-height: 1.3;
    color: #4a4a4a;
    font-weight: bold;
  }
  
  .feature .center .content h3{
    font-size: 1.1rem;
    line-height: 1.4;
    color: #4a4a4a;
    width: 75%;
    text-align: center;
    padding-top: 0.5rem;
  }

  #feature-1 .center{
    background-color: #9b9b9b;
  }

  #feature-2 .center{
    background-color: #ffffff;
  }
}

/* Filters Section */

#filters-section {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#filters-section .content {
  padding: 0 .625rem;
  margin-bottom: 5rem;
}

#filters-section .content h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: white;
}

#filters-section .content h3 {
  font-size: 1rem;
  line-height: 1.4;
  font-weight: 300;
  color: white;
}

#filters-section .images-container {
  max-width: 100%;
  padding: 0 1%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5rem;
}

#filters-section .images-container img {
  width: 100%;
}

@media only screen and (max-width: 760px) {
  #filters-section {
    padding: 1.5rem 0 0 0;
    margin-top: 2rem;
    width: 100%;
  }

  #filters-section .content {
    margin-bottom: 1rem;
  }

  #filters-section .content h2 {
    padding-bottom: .625rem;
    font-size: 2.25rem;
    line-height: 1.3;
    font-weight: bold;
  }

  #filters-section .content h3 {
    font-size: 1rem;
    line-height: 1.4;
    color: #c4c4c4;
    font-weight: 400;
  }

  #filters-section .images-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  #filters-section .images-container img {
    width: 12rem;
  }

  #filters-section .extra {
    display: show;
  }
}

@media only screen and (max-width: 450px) {
  #filters-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 1.5rem;
    margin: 0 auto;
  }

  #filters-section .content {
    margin-bottom: 1rem;
    text-align: center;
    width: 80%;
  }

  #filters-section .content h2 {
    padding-bottom: .625rem;
    font-size: 1.125rem;
    line-height: 1.3;
    font-weight: bold;
  }

  #filters-section .content h3 {
    font-size: 1.125rem;
    line-height: 1.4;
    color: #c4c4c4;
    font-weight: 400;
  }

  #filters-section .images-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0;
  }

  #filters-section .images-container img {
    width: 10rem;
  }

  #filters-section .extra {
    display: none;
  }
}

/* Quotes Section */

#quotes-section {
  background-color: #f3f3f3;
  height: 100%;
  padding: 5rem 1.875rem 5rem 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#quotes-section .content .quote {
  font-family: "Palatino", serif;
  font-size: 1.875rem;
  line-height: 1.1;
  font-style: italic;
  color: #4a4a4a;
  padding-right: 1.875rem;
}

#quotes-section quote-citation {
  height: 1.875rem;
}

@media only screen and (max-width: 760px) {
  #quotes-section{
    padding: 0;
    margin: 0;
    display: flex;
    height: 8rem;
    width: 100%;
  }

  #quotes-section .content{
    display: flex;
    justify-content: center;
    padding: 2rem;
  }

  #quotes-section .content span.quote {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.4;
    width: 90%;
    padding: 0;
  }

  #quotes-section .quote-citation {
    display: block;
    height: 100%;
  }
}

@media only screen and (max-width: 450px) {

  #quotes-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  #quotes-section .content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
  }

  #quotes-section .content .quote {
    padding: 0;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.4;
  }

  #quotes-section .quote-citation {
    display: block;
    height: 100%;
    padding: 0;
  }
}

/* Footer */

footer {
  background-color: #9b9b9b;
  height: 3.875rem;
  width: 100%;
}

footer .content{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

footer .content span{
  color: white;
  font-size: .75rem;
  padding: 0 2rem;
}

footer .copyright {
  flex-grow: 1;
}

@media only screen and (min-width: 760px) {
  footer .content {
    font-size: .625rem;
  }
}
